default: &default
  adapter: postgresql
  encoding: utf8
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5
  host: localhost
  username: postgres
  password: postgres

development:
  <<: *default
  database: qna_dev
  timeout: 5000

test:
  <<: *default
  database: qna_test

production:
  <<: *default
  database: qna_prod
  username: <%= ENV['QNA_DATABASE_USERNAME'] %>
  password: <%= ENV['QNA_DATABASE_PASSWORD'] %>
