// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer {
  display: none;
  position: relative;
  flex-grow: 5;
  top: -15px;
}

.answer {
  display: flex;
  .panel {
    flex-grow: 5;
  }
}
.answer-opt {
  .accept {
    a {
      padding: 7px;
      font-weight: bold;
      font-size: large;
    }
    .cancel-best:hover {
      color: #2c3e50;
      opacity: 0.65;
    }
    .set-best {
      color: #2c3e50;
      opacity: 0.65;
    }
    .set-best:hover {
      color: #128f76;
      opacity: 1;
    }
  }

}
.answer-footer {
  height: 40px;
  display: flex;
  justify-content: space-between;
  .btn-group {
    float: right;
    .btn {
      padding: 0;
      border: 0;
      margin-right: 15px;
    }
  }
}

.btn .caret {
    margin-left: 3px;
}

.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #7b8a8b;
    white-space: nowrap;
}

.panel-default > .panel-heading-best {
    color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
