/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.pull-right {
  display: flex;
}

.navbar {
  min-height: 10px;
}

.close {
  color: black;
}

.close:hover, .close:focus {
    color: #000;
    opacity: 1;
}

.time {
  opacity: 0.65;
  font-size: small;
}

.submit {
  justify-content: flex-end;
  display: flex;
}

.form-footer {
  justify-content: space-between;
  display: flex;
  .submit {
    margin-top: 10px;
      display: block;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #2c3e50;
  border-bottom: 1px solid #e4e6e8;
  padding: 15px;
}

h3 {
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

nav {
  span {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: white;
  }
}

  /* footer */

  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
    a {
      color: #555;
      &:hover {
        color: #222;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 10px;
      }
    }
  }