// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="submit"] {
  margin: 20px 0px;
}

.question-options, .answer-options {
  height: 50px;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.list-questions, .list-answers {
  li{
    list-style-type: none;
  }
}