header class="navbar navbar-fixed-top navbar-inverse"
  .navbar-inner
    .container
      = link_to "Thinknetica Q&A Project", root_path, id: "logo"
      nav
        ul class="nav pull-right"
          li= link_to "Questions", questions_path
          li= link_to "Ask Question", new_question_path
          - if user_signed_in?
            li
              span(data-user-id="#{current_user.id}" id="user")= "Hello, #{current_user.email}"
            li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            li= link_to 'Sign In', new_user_session_path
            li= link_to 'Sign Up', new_user_registration_path
